*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    color: blueviolet;
    background-color: lightblue;
    width: fit-content;
    margin: auto;
}
.box{
    background:lightblue;
    background-position:center;
    background-size: cover;
    width: 40%;
    height: 60vh;
    position: relative;
    top: 60px;
    margin: auto;
}


.fa-caret-left{
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 40px;
    padding: 10px;
    background-color: red;
}
.fa-caret-right{
    position: absolute;
    
    right: 0px;
    top: 50%;
    font-size: 40px;
    padding: 10px;
    background-color: red;
}
#img1{
    width: 100%;
    height: 60vh;

} 
